@{
    
}

<section class="about section">

    <div class="container rounded-4" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-md-6">

                <div class="row justify-content-between gy-4">
                    <div class="col-lg-5">
                        <img src="/assets/img/ClaraSquareHeadshot.jpg" class="img-fluid rounded-4" alt="Clara is standing in front of a calm, blue lake that is lined by evergreen covered mountain tops on the not too distant shore. She is smiling warmly at the camera, and her dark brown hair is pulled back in a low, loose bun. She is wearing flower shaped lazer-cut wood earings, and a denim dress that is embroidered along the shoulders and square neckline with a traditional Mexican design of vivid, multi-colored flower patterns.">
                    </div>
                    <div class="col-lg-7 about-info">
                        <p><strong>Name: </strong> <span>Clara Lopez-Uribe</span></p>
                        <p><strong>Location: </strong> <span>Greenville/Spartanburg</span></p>
                        <p><strong>State: </strong> <span>South Carolina</span></p>
                        <p><strong>URL: </strong> <span>https://claralopezuribe.com</span></p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <p><strong>Professional Profile:</strong></p>
                        <p>Full stack web developer building dynamic, responsive, and accessible applications with ASP.NET MVC, C#, JavaScript, PostgreSQL, HTML, CSS, and Bootstrap.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="about-me">
                    
                    <p>I am passionate about helping people live their best life, so I learn whatever it takes to serve that purpose with integrity and excellence. My first tools were musical instruments. My latest are software development technologies.</p>
                    <p>
                        With a decade of professional experience in music education, and over a decade more in personal caregiving, coaching, and advocacy, I now bring a diverse set of skills to the tech industry. I apply my deep curiosity, analytical thinking, attention to detail, and strong communication skills to craft practical, effective, user-centered digital solutions.
                    </p>
                    <p>
                        This Blog Website is one of several projects I built along my journey toward my career as a developer. Browse my other projects on my <a href="https://claralopezuribe.com" target="_blank" aria-label="Opens in new tab">portfolio<i class="fas fa-external-link-alt ms-2" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>